<!DOCTYPE html>
<html>
    <head> 
        <title>Demo App</title>
        <!-- <link rel = "stylesheet" href = "/app.css" >    /app.css is the correct path for css file  -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>