<h1> Login here!</h1>

<% LoginInfo.forEach(function(Login){  %> 

  <li>New User <%= Login %> is added!</li>     

<%   });                              %>


<form action = "/addUser"  method = "POST"> 
        <input type= "text" name= "newUser" placeholder = "Add name of user here">    <!-- JS Object example - { newUser : 'LINDA'}-->
        <input type= "text" name= "newPassword" placeholder = "Add password here">
        <button> User database update</button>
</form>

<!-- <form action = "/addPassword"  method = "POST">
        <input type= "Text" name = "newPassword" placeholder= "Add Password here">
        <button></button> -->