<% include partials/header %>

<form action = "/verifyUser"  method = "POST"> 
    <input type= "text" name= "checkUsername" placeholder = "Add name of user here">    <!-- JS Object example - { newUser : 'LINDA'}-->
    <input type= "text" name= "checkPassword" placeholder = "Add password here">
    <button> Login</button>
</form>




<% include partials/footer %>