<link rel = "stylesheet" href = "app.css" >
<h1> You love the username : <%= thingVar.charAt(0).toUpperCase() + thingVar.slice(1).toLowerCase() %> </h1>

<% if (thingVar.toLowerCase() === "rusty" ){   %>
    <p> You're lucky! This username does exist </p>
<% }  %> 

<p> P.S I know your password now :) </p> 