<!-- <style>
    body {
        color :purple;
    }
</style> -->
<link rel = "stylesheet" href = "app.css" >

<h1>  This is the posts page </h1>

<% posts.forEach(function(post){   %>
    <li>
       <%=  post.title %> - <strong> <%= post.author  %>  </strong> 
    </li>
<%  });       %>      